@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.icon-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 5px;
    margin: 0;

}
.icon-list li{
    margin-left: 15px;
}

.icon-list li img{
    width: 35px;
    height: auto;
}

.iconos ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap:15px;
    justify-content: center;
}
.iconos li {
    display: inline;

}

.iconos a{
    color:white;
    text-decoration: none;
    font-size: 24px;
}

.header{
    position: relative;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    padding: 5px;
    margin-bottom: 45px;
    border: 0;
    display: flexbox;
    justify-content: space-around;
    height: 200px;
    background-image: url(images/BatmanEyes.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
p{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

h1{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 40pt;
}
h2{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

body{
    background-color: #0D110E;

}

#leftText{
    text-align: justify;
    color: rgb(255, 255, 255);
    width: 300px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    flex:1;
    margin-right: 10px;
  
}
.quote{
  font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    width: 60%;
    margin-left:20%;
    font-size: 50pt;

}
.positionright{
    float: right;
}

#legoBatman{
display: block;
max-width: 20%;
height: auto;
}


#batmanCover{
    width: 100%;
}

#littleright{
    width: 20%;
    height: auto;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 80%;
    margin-bottom: 50px;
    
}
.centerText{
    text-align: center;
}
.responsive {
    max-width: 20%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .responsive:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  .gallery {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
  }
  
  .gallery img {
    flex: 1 1 200px;
    object-fit:cover;
    object-position: top;
    height: 250px;
    width:  auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .gallery img:hover {
    transform: scale(1.1); 
    box-shadow: 0 5px 100px 2px rgb(85, 81, 57);

  }

  .rectangle{
    width: 10%;
    height: 18%;
    background-color: gray;
  }


  .profileDesc{
    margin-top: 10vh;
    margin-left: 25%;
    display: block;
    border: solid 1px;
    border-color: aliceblue;
    width: 50%;
    height: 200px;
    padding: 45px;
  }

  .biotext{
    width: 75%;
    font-size: 13pt;
  }

  .imgperfil{
    height: 100%;
    float: right;
  }

  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    justify-content: space-between;
    text-align: center;
    padding: 0% 5% 0% 5%;
    background-color: rgb(26, 25, 25);
  }

  .footerelement{
    display: inline-block;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 13pt;
  }